<%- include('../../partials/header.ejs')%> <%-
include('../../partials/register-navbar.ejs')%>

<link
  href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
  rel="stylesheet"
/>
<style>
  .container {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    color: #98c1d9;
  }

  .container h2 {
    font-family: "Archivo", sans-serif;
    color: #ee6c4d;
  }
</style>

<div class="container">
  <hr />
  <div class="card mt-4">
    <div class="card-header">
      <h2>Criação de usuário</h2>
    </div>
    <div class="card-body">
      <form action="/users/create" method="POST">
        <input
          class="form-control"
          name="email"
          type="email"
          placeholder="email@exemplo.com"
        /><br />
        <input
          class="form-control"
          name="password"
          type="password"
          placeholder="********"
        /><br />
        <button
          type="submit"
          class="btn btn-dark btn-block"
          style="background-color: #98c1d9"
        >
          Criar
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs')%>
