<%- include('../../partials/header.ejs')%>

<link
  href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
  rel="stylesheet"
/>
<style>
  .container {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    color: #98c1d9;
  }

  .container h2 {
    font-family: "Archivo", sans-serif;
    color: #ee6c4d;
  }

  .register {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    color: #3d5a80;
    font-size: 13px;
  }
</style>

<div class="container">
  <hr />
  <div class="card mt-4">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <div class="card-body">
      <form action="/authenticate" method="POST">
        <input
          class="form-control"
          name="email"
          type="email"
          placeholder="email@exemplo.com"
        /><br />
        <input
          class="form-control"
          name="password"
          type="password"
          placeholder="********"
        /><br />

        <button
          type="submit"
          class="btn btn-primary btn-block"
          style="background-color: #98c1d9"
        >
          Logar
        </button>

        <div class="register">
          <p>
            Não possui uma conta?<a class="btn-block" href="admin/users/create">
              Registre-se agora</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs')%>
