<%- include('../../partials/header.ejs')%> <%-
include('../../partials/navbar.ejs')%>

<link
  href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
  rel="stylesheet"
/>
<style>
  .container {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    color: #293241;
  }

  .container h2 {
    font-family: "Archivo", sans-serif;
    color: #ee6c4d;
  }
</style>

<div class="container">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Cadastro de categoria</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/categories/save">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Defina o título da categoria"
        /><br />
        <button class="btn btn-dark" style="background-color: #3d5a80">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs')%>
